@import "./variables.scss";
// GOOGLE-FONTS
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

// RESET/GENERAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: $containerSize;
    margin: auto;
    // border: 1px solid orange
}